.urlSnippetThumbnail
{
	max-height: 150px;
	max-width: 120px!important;
	padding-right: 10px;
}
.gplusActivityThumbnail
{
	height: 128px;
}
.gplusActivityTrailingPanel
{
	display: block;
	margin-top: 10px;
}
.snippetTitle
{
	font-weight: bold;
}
.activityProfileUpdateLabel
{
	padding-right: 2px;
}
.activityTopPagination
{
	padding-bottom: 20px;
}
.activityUrlSnippetBody
{
	width: 300px;
}
.addEntityBody
{
	padding-bottom: 10px;
}
.addEntitySnippetBody
{
	height: 64px;
	overflow: hidden;
	padding-left: 10px;
	width: 800px;
}
.profileBox
{
	height: 392px;
	width: 306px;
}
.scrollingItemsList
{
	max-height: 95%;
	overflow-y: auto;
}
.boxItem
{
	height: 94px;
	line-height: 16px;
	margin: 0 2px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 6px;
	text-align: center;
	width: 76px;
}
.boxItem:hover
{
	background-color: #f2f2f2;
	border-color: #e3e3e3;
}
.boxTitle
{
	padding: 6px 0 2px 8px;
}
.postCommentsPanel
{
	margin-right: 10px;
	padding-top: 5px;
}
.postComment
{
	border-top: 1px solid #e3e3e3;
	overflow: hidden;
	padding: 8px 0;
	position: relative;
}
.postCommentText
{
	color: #666;
}
.postLikeItem
{
	padding-right: 10px;
}
.postEntityMetadataSection
{
	cursor: pointer;
	margin-top: 10px;
	padding-top: 2px;
}
.commentsAndLikesPanel
{
	display: none;
	padding-top: 5px;
}
.hideCommentsAndLikesLink
{
	display: none;
}
.commonHeader
{
	background-color: #f1f1f1;
	border-bottom-color: #e5e5e5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding: 15px 0;
}
.mainContainer
{
	margin-left: 10px;
	margin-right: 10px;
	width: 1250px;
}
.archiveMessage
{
	color: #222;
	font-size: 20px;
	text-align: center;
}
.clearFloat
{
	clear: both;
}
.borderBottomSeparator
{
	border-bottom-color: #e5e5e5;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}
.communityProfileHeader
{
	margin-top: 10px;
}
.communityProfileSection
{
	margin-left: 10px;
	padding-bottom: 5px;
	padding-top: 1px;
}
.communityProfileInfoColumn
{
	padding-right: 10px;
	width: 230px;
}
.communityProfileInfoItem
{
	padding-bottom: 1px;
	padding-top: 1px;
}
.communityInfoTitle
{
	font-weight: bold;
}
.communityInfoText
{
	padding-left: 2px;
}
.forumMetadataItem
{
	color: #666;
	padding-right: 10px;
}
.forumMetadata
{
	margin: 0 10;
	padding: 5px 0 10px;
}
.topicMessageHeader
{
	padding-bottom: 10px;
}
.tinyImage
{
	height: 50px;
	width: 50px;
}
.indexMargin
{
	padding: 40px;
}
.indexCore
{
	background-color: white;
	border: 2px;
	border-radius: 25px;
	padding: 60px;
}
.indexCentralize
{
	margin-left: auto;
	margin-right: auto;
	padding-top: 16px;
	width: 506px;
}
.indexLogoDiv
{
	padding-bottom: 17px;
	text-align: center;
}
.indexTitle
{
	padding-bottom: 17px;
}
.indexLetters
{
	background-color: #f3f3f3;
	padding: 14px;
}
.indexLettersContainer
{
	height: 50px;
	margin: 0 5px;
	padding-top: 30px;
}
.listLogo
{
	vertical-align: middle;
}
.listCommunityContainerSeparator
{
	padding-bottom: 10px;
}
.listCommunityContainer
{
	margin: 10px 10px 0;
}
.listCommunityImageLogo
{
	max-height: 64px;
	min-height: 64px;
}
.listCommunityImageLogoContainer
{
	height: 64px;
	margin-right: 10px;
	overflow: hidden;
	width: 64px;
}
.listMainContainer
{
	padding-bottom: 10px;
}
body
{
	font-family: Arial,sans-serif,Verdana;
	font-size: 13px;
	margin: 0;
}
a,a:visited
{
	color: #06c;
	text-decoration: none;
}
.leftColumn
{
	margin: 5px 150px 5px 5px;
	width: 166px;
}
.userPageRow
{
	text-align: left;
}
.themeDesktopColor
{
	background-color: #d9e6f7!important;
}
.innerContainer,.userPageRow
{
	background: #fff;
	box-shadow: 1px 1px 5px rgba(0,0,0,.1);
	padding-bottom: 10px;
}
.innerContainer
{
	margin: 5px;
	padding-top: 10px;
}
.userName
{
	border-bottom: 1px solid #f1f1f1;
	font-size: 18px;
	margin: 2px 4px 4px 6px;
	overflow-x: hidden;
	padding-bottom: 2px;
	padding-top: 6px;
}
.pictureContainer
{
	font-size: 0;
	margin-bottom: 10px;
	overflow-y: hidden;
}
.profilePicture
{
	width: 164px;
}
.tabIcon:hover
{
	background-color: #f1f1f1;
}
.tabBar
{
	float: left;
	height: 15px;
	margin-right: 4px;
	width: 5px;
}
.tabIcon:hover
{
	color: #000;
	cursor: hand;
	text-decoration: none;
}
.tabIcon
{
	background-color: #fff;
}
.tabIcon
{
	color: #333;
	display: block;
	font-size: 12px;
	padding: 6px 0;
	position: relative;
	text-decoration: none;
}
.paginationSeparator
{
	padding-left: 10px;
}
.mediumSizePicture
{
	min-height: 64px;
	min-width: 64px;
}
.mediumSizePictureContainer
{
	display: block;
	height: 64px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	width: 64px;
}
.pollListContainer
{
	width: 816px;
}
.pollMetadata
{
	margin: 0 10;
	padding: 5px 0 10px;
}
.pollMetadataItemsContainer
{
	color: #666;
}
.pollMetadataItem
{
	padding-right: 10px;
}
.pollLastReply
{
	padding-right: 3px;
}
.postItem,.postItemWithComments
{
	padding: 10px 1px 6px 8px;
}
.postBody
{
	padding: 10px 10px 10px 0;
}
.postBody img
{
	max-width: 100%;
}
.postContent
{
	width: 800px;
}
.profileNameBar
{
	color: #333;
	margin: 10px;
	padding: 9px 1px 9px 8px;
}
.profileSection
{
	border-top-color: #e5e5e5;
	border-top-style: solid;
	border-top-width: 1px;
	margin: 0 10px;
	padding: 0 1px 6px 8px;
}
.profileStatusMessage
{
	color: #666!important;
	font-weight: normal;
	padding-top: 5px;
}
.profileHeader
{
	padding-top: 10px;
}
.profileInfoEntry
{
	float: left;
	max-width: 95%;
	overflow: hidden;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	width: 50%;
}
.profileSectionTitle
{
	padding: 15px 0 13px;
}
.profileBadge
{
	height: 24px;
	padding-bottom: 12px;
	padding-right: 15px;
	width: 24px;
}
.profileCenterThreeColumnDiv
{
	padding-bottom: 12px;
	padding-right: 15px;
	text-overflow: ellipsis;
	width: 135px;
}
.profileCenterList
{
	height: 100px;
	overflow-y: scroll;
}
.topicListContainer
{
	width: 816px;
}
.messageMetadata
{
	padding-bottom: 5px;
}
.removedMessage
{
	background-color: #eee;
	margin: 0 10px;
	padding: 10px;
}
.typoUserNameFont
{
	font-size: 18px;
}
.typoSectionTitleFont
{
	font-size: 16px;
}
.typoPostUserName
{
	font-size: 13px;
}
.typoSectionLessImportantText
{
	color: #999;
}
.typoTopicCreator
{
	color: #7c6c6c;
	font-size: 13px;
}
.videoItem
{
	max-height: 92px;
	overflow: hidden;
	padding-left: 10px;
	width: 330px;
}
.videoPost
{
	height: 92px;
	padding-bottom: 10px;
}
.leadingColumn
{
	float: left;
}
.trailingColumn
{
	float: right;
}
.lastColumn
{
	float: none;
	overflow: hidden;
}
.tinyImageCenteredText
{
	padding-right: 5px;
	vertical-align: middle;
}
.middleBox
{
	width: 900px;
}
.middleBoxSection
{
	margin: 10px 10px;
}
.sectionTitle
{
	padding: 15px 0 13px;
}
.singleLineText
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}
.goog-inline-block
{
	display: inline-block;
	display: -moz-inline-box;
	position: relative;
}
* html .goog-inline-block
{
	display: inline;
}
*:first-child+html .goog-inline-block
{
	display: inline;
}
.jfk-button
{
	border-radius: 2px;
	cursor: default;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin-right: 16px;
	min-width: 54px;
	moz-border-radius: 2px;
	outline: 0;
	padding: 0 8px;
	text-align: center;
	webkit-border-radius: 2px;
	white-space: nowrap;
}
.jfk-button-hover
{
	box-shadow: 0 1px 1px rgba(0,0,0,.1);
	moz-box-shadow: 0 1px 1px rgba(0,0,0,.1);
	webkit-box-shadow: 0 1px 1px rgba(0,0,0,.1);
}
.jfk-button-selected
{
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
	webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
.jfk-button .jfk-button-img
{
	margin-top: -3px;
	vertical-align: middle;
}
.jfk-button-label
{
	margin-left: 5px;
}
.jfk-button-narrow
{
	min-width: 34px;
	padding: 0;
}
.jfk-button-collapse-left,.jfk-button-collapse-right
{
	z-index: 1;
}
.jfk-button-collapse-left.jfk-button-disabled
{
	z-index: 0;
}
.jfk-button-checked.jfk-button-collapse-left,.jfk-button-checked.jfk-button-collapse-right
{
	z-index: 2;
}
.jfk-button-collapse-left:focus,.jfk-button-collapse-right:focus,.jfk-button-hover.jfk-button-collapse-left,.jfk-button-hover.jfk-button-collapse-right
{
	z-index: 3;
}
.jfk-button-collapse-left
{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	margin-left: -1px;
	moz-border-radius-bottomleft: 0;
	moz-border-radius-topleft: 0;
	webkit-border-bottom-left-radius: 0;
	webkit-border-top-left-radius: 0;
}
.jfk-button-collapse-right
{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	margin-right: 0;
	moz-border-radius-bottomright: 0;
	moz-border-radius-topright: 0;
	webkit-border-bottom-right-radius: 0;
	webkit-border-top-right-radius: 0;
}
.jfk-button.jfk-button-disabled:active
{
	box-shadow: none;
	moz-box-shadow: none;
	webkit-box-shadow: none;
}
.jfk-button-action
{
	background-color: #4d90fe;
	background-image: linear-gradient(top,#4d90fe,#4787ed);
	background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
	background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
	border: 1px solid #3079ed;
	box-shadow: none;
	color: #fff;
	moz-box-shadow: none;
	webkit-box-shadow: none;
}
.jfk-button-action.jfk-button-hover
{
	background-color: #357ae8;
	background-image: linear-gradient(top,#4d90fe,#357ae8);
	background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
	background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
	border: 1px solid #2f5bb7;
	border-bottom-color: #2f5bb7;
	box-shadow: none;
	moz-box-shadow: none;
	webkit-box-shadow: none;
}
.jfk-button-action:focus
{
	border: 1px solid #fff;
	border: rgba(0,0,0,0) solid 1px;
	box-shadow: inset 0 0 0 1px #fff;
	moz-box-shadow: inset 0 0 0 1px #fff;
	outline: 1px solid #4d90fe;
	outline: rgba(0,0,0,0) 0;
	webkit-box-shadow: inset 0 0 0 1px #fff;
}
.jfk-button-action.jfk-button-clear-outline
{
	box-shadow: none;
	moz-box-shadow: none;
	outline: none;
	webkit-box-shadow: none;
}
.jfk-button-action:active
{
	background: #357ae8;
	border: 1px solid #2f5bb7;
	border-top: 1px solid #2f5bb7;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.jfk-button-action.jfk-button-disabled
{
	background: #4d90fe;
	filter: alpha(opacity=50);
	opacity: .5;
}
.jfk-button-contrast
{
	background-color: #f5f5f5;
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: none;
	color: #444;
	moz-box-shadow: none;
	webkit-box-shadow: none;
}
.jfk-button-contrast.jfk-button-hover,.jfk-button-contrast.jfk-button-clear-outline.jfk-button-hover
{
	background-color: #f8f8f8;
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #c6c6c6;
	box-shadow: none;
	color: #333;
	moz-box-shadow: none;
	webkit-box-shadow: none;
}
.jfk-button-contrast:active,.jfk-button-contrast.jfk-button-hover:active
{
	background: #f8f8f8;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.jfk-button-contrast.jfk-button-selected,.jfk-button-contrast.jfk-button-clear-outline.jfk-button-selected
{
	background-color: #eee;
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #ccc;
	color: #333;
}
.jfk-button-contrast.jfk-button-checked,.jfk-button-contrast.jfk-button-clear-outline.jfk-button-checked
{
	background-color: #eee;
	background-image: linear-gradient(top,#eee,#e0e0e0);
	background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
	background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
	background-image: -o-linear-gradient(top,#eee,#e0e0e0);
	background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	color: #333;
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.jfk-button-contrast:focus
{
	border: 1px solid #4d90fe;
	outline: none;
}
.jfk-button-contrast.jfk-button-clear-outline
{
	border: 1px solid #dcdcdc;
	outline: none;
}
.jfk-button-contrast.jfk-button-disabled
{
	background: #fff;
	border: 1px solid #f3f3f3;
	border: 1px solid rgba(0,0,0,0.05);
	color: #b8b8b8;
}
.jfk-button-contrast .jfk-button-img
{
	opacity: .55;
}
.jfk-button-contrast.jfk-button-checked .jfk-button-img,.jfk-button-contrast.jfk-button-selected .jfk-button-img,.jfk-button-contrast.jfk-button-hover .jfk-button-img
{
	opacity: .9;
}
.jfk-button-contrast.jfk-button-disabled .jfk-button-img
{
	filter: alpha(opacity=33);
	opacity: .333;
}
.jfk-button-default
{
	background-color: #3d9400;
	background-image: linear-gradient(top,#3d9400,#398a00);
	background-image: -moz-linear-gradient(top,#3d9400,#398a00);
	background-image: -ms-linear-gradient(top,#3d9400,#398a00);
	background-image: -o-linear-gradient(top,#3d9400,#398a00);
	background-image: -webkit-linear-gradient(top,#3d9400,#398a00);
	border: 1px solid #29691d;
	box-shadow: none;
	color: #fff;
	moz-box-shadow: none;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	webkit-box-shadow: none;
}
.jfk-button-default.jfk-button-hover
{
	background-color: #368200;
	background-image: linear-gradient(top,#3d9400,#368200);
	background-image: -moz-linear-gradient(top,#3d9400,#368200);
	background-image: -ms-linear-gradient(top,#3d9400,#368200);
	background-image: -o-linear-gradient(top,#3d9400,#368200);
	background-image: -webkit-linear-gradient(top,#3d9400,#368200);
	border: 1px solid #2d6200;
	border-bottom: 1px solid #2d6200;
	box-shadow: none;
	moz-box-shadow: none;
	text-shadow: 0 1px rgba(0,0,0,0.3);
	webkit-box-shadow: none;
}
.jfk-button-default:focus
{
	border: 1px solid #fff;
	border: rgba(0,0,0,0) solid 1px;
	box-shadow: inset 0 0 0 1px #fff;
	moz-box-shadow: inset 0 0 0 1px #fff;
	outline: 1px solid #3d9400;
	outline: rgba(0,0,0,0) 0;
	webkit-box-shadow: inset 0 0 0 1px #fff;
}
.jfk-button-default.jfk-button-clear-outline
{
	box-shadow: none;
	moz-box-shadow: none;
	outline: none;
	webkit-box-shadow: none;
}
.jfk-button-default:active
{
	background: #368200;
	border: 1px solid #2d6200;
	border-top: 1px solid #2d6200;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.jfk-button-default.jfk-button-disabled
{
	background: #3d9400;
	filter: alpha(opacity=50);
	opacity: .5;
}
.jfk-button-primary
{
	background-color: #d14836;
	background-image: linear-gradient(top,#dd4b39,#d14836);
	background-image: -moz-linear-gradient(top,#dd4b39,#d14836);
	background-image: -ms-linear-gradient(top,#dd4b39,#d14836);
	background-image: -o-linear-gradient(top,#dd4b39,#d14836);
	background-image: -webkit-linear-gradient(top,#dd4b39,#d14836);
	border: 1px solid transparent;
	box-shadow: none;
	color: #fff;
	moz-box-shadow: none;
	text-shadow: 0 1px rgba(0,0,0,0.1);
	text-transform: uppercase;
	webkit-box-shadow: none;
}
.jfk-button-primary.jfk-button-hover
{
	background-color: #c53727;
	background-image: linear-gradient(top,#dd4b39,#c53727);
	background-image: -moz-linear-gradient(top,#dd4b39,#c53727);
	background-image: -ms-linear-gradient(top,#dd4b39,#c53727);
	background-image: -o-linear-gradient(top,#dd4b39,#c53727);
	background-image: -webkit-linear-gradient(top,#dd4b39,#c53727);
	border: 1px solid #b0281a;
	border-bottom-color: #af301f;
	box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	moz-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
	webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.jfk-button-primary:focus
{
	border: 1px solid #fff;
	border: rgba(0,0,0,0) solid 1px;
	box-shadow: inset 0 0 0 1px #fff;
	moz-box-shadow: inset 0 0 0 1px #fff;
	outline: 1px solid #d14836;
	outline: rgba(0,0,0,0) 0;
	webkit-box-shadow: inset 0 0 0 1px #fff;
}
.jfk-button-primary.jfk-button-clear-outline
{
	box-shadow: none;
	moz-box-shadow: none;
	outline: none;
	webkit-box-shadow: none;
}
.jfk-button-primary:active
{
	background-color: #b0281a;
	background-image: linear-gradient(top,#dd4b39,#b0281a);
	background-image: -moz-linear-gradient(top,#dd4b39,#b0281a);
	background-image: -ms-linear-gradient(top,#dd4b39,#b0281a);
	background-image: -o-linear-gradient(top,#dd4b39,#b0281a);
	background-image: -webkit-linear-gradient(top,#dd4b39,#b0281a);
	border: 1px solid #992a1b;
	border-top: 1px solid #992a1b;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
	webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.jfk-button-primary.jfk-button-disabled
{
	background: #d14836;
	filter: alpha(opacity=50);
	opacity: .5;
}
.jfk-slideToggle
{
	background-color: #f5f5f5;
	background-image: linear-gradient(top,#eee,#e0e0e0);
	background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
	background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
	background-image: -o-linear-gradient(top,#eee,#e0e0e0);
	background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
	border: 1px solid #ccc;
	border-radius: 2px;
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
	color: #666;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin-right: 16px;
	moz-border-radius: 2px;
	moz-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
	outline: none;
	overflow: hidden;
	padding: 0;
	position: relative;
	webkit-border-radius: 2px;
	webkit-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
	width: 94px;
}
.jfk-slideToggle-on,.jfk-slideToggle-off,.jfk-slideToggle-thumb
{
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	width: 47px;
}
.jfk-slideToggle-on
{
	background-color: #398bf2;
	background-image: linear-gradient(top,#3b93ff,#3689ee);
	background-image: -moz-linear-gradient(top,#3b93ff,#3689ee);
	background-image: -ms-linear-gradient(top,#3b93ff,#3689ee);
	background-image: -o-linear-gradient(top,#3b93ff,#3689ee);
	background-image: -webkit-linear-gradient(top,#3b93ff,#3689ee);
	box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
	color: #fff;
	height: 27px;
	moz-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
	webkit-box-shadow: inset 0 1px 2px 0 rgba(0,0,0,.1);
}
.jfk-slideToggle-off
{
	border-radius: 2px 2px 0 0;
	moz-border-radius: 2px 2px 0 0;
	webkit-border-radius: 2px 2px 0 0;
}
.jfk-slideToggle-thumb
{
	background-color: #f5f5f5;
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	display: block;
	height: 27px;
	left: -1px;
	moz-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	moz-transition: all .13s ease-out;
	o-transition: all .13s ease-out;
	position: absolute;
	top: -1px;
	transition: all .13s ease-out;
	webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
	webkit-transition: all .13s ease-out;
}
.jfk-slideToggle-thumb::after
{
	background-image: linear-gradient(left,#ccc 50%,transparent 50%),linear-gradient(left,#ccc 50%,transparent 50%),linear-gradient(left,#ccc 50%,transparent 50%),linear-gradient(left,#ccc 50%,transparent 50%),linear-gradient(left,#ccc 50%,transparent 50%);
	background-image: -moz-linear-gradient(left,#ccc 50%,transparent 50%),-moz-linear-gradient(left,#ccc 50%,transparent 50%),-moz-linear-gradient(left,#ccc 50%,transparent 50%),-moz-linear-gradient(left,#ccc 50%,transparent 50%),-moz-linear-gradient(left,#ccc 50%,transparent 50%);
	background-image: -ms-linear-gradient(left,#ccc 50%,transparent 50%),-ms-linear-gradient(left,#ccc 50%,transparent 50%),-ms-linear-gradient(left,#ccc 50%,transparent 50%),-ms-linear-gradient(left,#ccc 50%,transparent 50%),-ms-linear-gradient(left,#ccc 50%,transparent 50%);
	background-image: -o-linear-gradient(left,#ccc 50%,transparent 50%),-o-linear-gradient(left,#ccc 50%,transparent 50%),-o-linear-gradient(left,#ccc 50%,transparent 50%),-o-linear-gradient(left,#ccc 50%,transparent 50%),-o-linear-gradient(left,#ccc 50%,transparent 50%);
	background-image: -webkit-linear-gradient(left,#ccc 50%,transparent 50%),-webkit-linear-gradient(left,#ccc 50%,transparent 50%),-webkit-linear-gradient(left,#ccc 50%,transparent 50%),-webkit-linear-gradient(left,#ccc 50%,transparent 50%),-webkit-linear-gradient(left,#ccc 50%,transparent 50%);
	background-position: 0 0,0 2px,0 4px,0 6px,0 8px;
	background-repeat: repeat-x;
	background-size: 2px 1px;
	content: '';
	display: block;
	height: 9px;
	left: 15px;
	position: absolute;
	top: 9px;
	width: 17px;
}
.jfk-slideToggle.jfk-slideToggle-checked .jfk-slideToggle-thumb
{
	left: 47px;
}
.jfk-slideToggle:focus
{
	border: 1px solid #4d90fe;
}
.jfk-slideToggle.jfk-slideToggle-clearOutline
{
	border: 1px solid #ccc;
}
.jfk-button-standard
{
	background-color: #f5f5f5;
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.1);
	box-shadow: none;
	color: #444;
	moz-box-shadow: none;
	webkit-box-shadow: none;
}
.jfk-button-standard.jfk-button-hover,.jfk-button-standard.jfk-button-clear-outline.jfk-button-hover
{
	background-color: #f8f8f8;
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #c6c6c6;
	box-shadow: none;
	color: #333;
	moz-box-shadow: none;
	webkit-box-shadow: none;
}
.jfk-button-standard:active,.jfk-button-standard.jfk-button-hover:active
{
	background: #f8f8f8;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	color: #333;
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.jfk-button-standard.jfk-button-selected,.jfk-button-standard.jfk-button-clear-outline.jfk-button-selected
{
	background-color: #eee;
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #ccc;
	color: #333;
}
.jfk-button-standard.jfk-button-checked,.jfk-button-standard.jfk-button-clear-outline.jfk-button-checked
{
	background-color: #eee;
	background-image: linear-gradient(top,#eee,#e0e0e0);
	background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
	background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
	background-image: -o-linear-gradient(top,#eee,#e0e0e0);
	background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	color: #333;
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.jfk-button-standard:focus
{
	border: 1px solid #4d90fe;
	outline: none;
}
.jfk-button-standard.jfk-button-clear-outline
{
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.1);
	outline: none;
}
.jfk-button-standard.jfk-button-disabled
{
	background: #fff;
	border: 1px solid #f3f3f3;
	border: 1px solid rgba(0,0,0,0.05);
	color: #b8b8b8;
}
.jfk-button-standard .jfk-button-img
{
	opacity: .55;
}
.jfk-button-standard.jfk-button-checked .jfk-button-img,.jfk-button-standard.jfk-button-selected .jfk-button-img,.jfk-button-standard.jfk-button-hover .jfk-button-img
{
	opacity: .9;
}
.jfk-button-standard.jfk-button-disabled .jfk-button-img
{
	filter: alpha(opacity=33);
	opacity: .333;
}
.jfk-button-flat
{
	border: 1px solid transparent;
	border-radius: 0;
	font-size: 13px;
	font-weight: normal;
	height: 21px;
	line-height: 21px;
	margin-right: 1px;
	min-width: 0;
	moz-border-radius: 0;
	padding: 0;
	webkit-border-radius: 0;
}
.jfk-button-flat.jfk-button-hover,.jfk-button-flat.jfk-button-selected,.jfk-button-flat:focus,.jfk-button-flat:active
{
	box-shadow: none;
	moz-box-shadow: none;
	webkit-box-shadow: none;
}
.jfk-button-flat .jfk-button-img
{
	height: 21px;
	opacity: .55;
	width: 21px;
}
.jfk-button-flat .jfk-button-label
{
	display: inline-block;
	margin: 0;
	padding: 0 1px;
}
.jfk-button-flat.jfk-button-selected .jfk-button-img,.jfk-button-flat.jfk-button-hover .jfk-button-img
{
	opacity: .9;
}
.jfk-button-flat.jfk-button-disabled .jfk-button-img
{
	filter: alpha(opacity=33);
	opacity: .333;
}
.jfk-button-flat:focus
{
	border: 1px solid #4d90fe;
}
.jfk-button-flat.jfk-button-clear-outline
{
	border: 1px solid transparent;
}
.jfk-button-mini
{
	background-color: #f5f5f5;
	background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.1);
	color: #444;
	height: 17px;
	line-height: 17px;
	min-width: 22px;
	text-shadow: 0 1px rgba(0,0,0,0.1);
}
.jfk-button-mini.jfk-button-hover,.jfk-button-mini.jfk-button-clear-outline.jfk-button-hover
{
	background-color: #f8f8f8;
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	border: 1px solid #c6c6c6;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}
.jfk-button-mini:active
{
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.jfk-button-mini.jfk-button-checked,.jfk-button-mini.jfk-button-clear-outline.jfk-button-checked
{
	background-color: #e0e0e0;
	background-image: linear-gradient(top,#eee,#e0e0e0);
	background-image: -moz-linear-gradient(top,#eee,#e0e0e0);
	background-image: -ms-linear-gradient(top,#eee,#e0e0e0);
	background-image: -o-linear-gradient(top,#eee,#e0e0e0);
	background-image: -webkit-linear-gradient(top,#eee,#e0e0e0);
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	color: #333;
	moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.jfk-button-mini:focus
{
	border: 1px solid #4d90fe;
}
.jfk-button-mini.jfk-button-clear-outline
{
	border: 1px solid #dcdcdc;
}
.jfk-button-mini.jfk-button-disabled
{
	background: #fff;
	border: 1px solid #f3f3f3;
	border: 1px solid rgba(0,0,0,0.05);
	color: #b8b8b8;
}

.commentInput {
	border: 1px solid black;
	width: 750px;
	height: 20px;
	margin: 15px 0px 0px 0px
}